body {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

h1 {
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 35px;
}

.searchIcon {
  display: inline-block;
  position: relative;
  right: 30px;
}

.lastUpdated {
  font-size: 10px;
}

.currentDateTime {
  font-size: 18px;
  font-weight: 200;
}

.description {
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  text-transform: capitalize;
}

.currentTemperature {
  font-size: 60px;
  font-weight: 900;
  left: 20px;
  position: relative;
}

.units {
  font-size: 20px;
  font-weight: 400;
  left: 20px;
  position: relative;
  top: -30px;
}

.units .active {
  color: #ffffff;
  cursor: default;
  font-weight: 900;
}

.units .active:hover {
  text-decoration: none;
}

img.currentTempIcon {
  display: block;
  margin: 0 auto;
}

.weatherToday {
  font-weight: 200;
}

.weather-forecast {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.weather-forecast h5 {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.weather-forecast img {
  display: block;
  height: 48px;
  margin: 0 auto;
  width: 48px;
}

.weather-forecast-temperature {
  font-size: 12px;
  text-align: center;
}

.container {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  max-width: 600px;
  padding: 35px;
}

footer {
  color: #000000;
  font-size: 12px;
  line-height: 1px;
  text-align: center;
}

a.footer {
  color: #c69f73;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

a.footer:hover {
  cursor: pointer;
  text-decoration: underline;
}
